#content{
  max-width:80em;
  min-width:15em;
  width:50%;
  float:left;
}
#twtr-widget-1{
margin-top:15px;
float:right;
}

.text{
  background:-moz-linear-gradient(LightSkyBlue, MediumTurquoise, #FFFFE0) ;
  background:-webkit-linear-gradient(LightSkyBlue, MediumTurquoise, #FFFFE0) ;
  border:1px solid silver;
  border-radius:5px;
  max-width:60em;
  min-width:15em;
  padding:15px;
  margin: 15px 0;
}
.text p{
text-shadow:0px 0px 5px white;
}
