/*
  override bootstrap here
  Some of these are blatantly stolen from Twitter's doc pages.
  I couldn't help it, they look so nice!
*/

body {
  position: relative;
  padding-top: 90px;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

.post {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.5);
}

// black color
.post h4 a {
    color:#000 !important;
}
