---
layout: default
title: Home
---


<!--
        <div class="textbody container">
            <div class="row">
                <div class="textbody-text span12">
			<p> </p>
                </div>
            </div>
        </div>
-->

	    {% for post in site.posts limit:1 %}
        <div class="slots container">
            <div class="row">
	      {{ post.content }}
            </div>
        </div>
	    {% endfor %}

        <!-- Site Description -->
        <div class="presentation container">
            {% for post in site.posts limit:1 %}
            <div class="row">
                <div class="span8">
                    <h2>Welcome to the Berlin <span class="violet">PHP</span> Usergroup</h2>
                    <p>
                        Next Meetup:
                        {% if post.cancelled %}
                        <!-- cancelled announcement START: -->
                        <span class="violet">{{ post.datetitle }}</span> <span style="background-color:#d00;color:#fff;">&nbsp;CANCELLED - {{post.cancelled}}&nbsp;</span>
                        <!-- cancelled announcement END -->
                        {% else %}
                        <!-- regular announcement: START -->
                        <span class="violet">{{ post.datetitle }}</span>, Opening at 7:00 pm, Start at 7:30pm.
                        <!-- regular announcement: END -->
                        {% endif %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ post.title }}",
    "location": {
      "@type": "Place",
      "name": "co.up coworking",
      "url": "http://co-up.de/",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Berlin",
        "postalCode": "10999",
        "streetAddress": "	Adalbertstraße 8"
      }
    },
  "startDate": "{{ post.meetupdate }}T19:00",
  "url": "http://www.bephpug.de/"
}
</script>
{% if post.lanyrd %} <br/><span class="lanyrd">Feel free to save your attendance at our <a href="{{ post.lanyrd }}">Lanyrd Event</a></span> {% endif %}

                    </p>
                </div>
                <div class="span4">
                    <h2>
                      <img alt="Meetup.com Logo" src="http://img1.meetupstatic.com/img/logo.svg">
                      Meetup
                    </h2>
                    <p>
                        You can find us at
                        <a href="http://www.meetup.com/Berlin-PHP-Usergroup/">Meetup.com</a>
                    </p>
                    {% if post.meetupid %}
                    <p>
                        <a href="http://www.meetup.com/Berlin-PHP-Usergroup/events/{{ post.meetupid }}/" data-event="{{ post.meetupid }}" class="mu-rsvp-btn">RSVP</a>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="textbody container propose-talk">
            <div class="row">
                <div class="textbody-text span12">
			        <p>
                        <strong>Want to propose a talk?</strong>
                        <br>
                        Open a pull request on
                        <a title="Propose a talk" href="https://github.com/berlinphp/berlinphp.github.com/tree/master/_posts" target="_blank">https://github.com/berlinphp/berlinphp.github.com</a>
                    </p>
                </div>
            </div>
        </div>
