<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <h1>
      <a class="brand" href="/index.html">Berlin PHP Usergroup</a>
      </h1>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="{{ page.home }}{% if page.url == '/index.html' %} current-page{% endif %}">
            <a href="/index.html"><i class="icon-home"></i><br />Home</a>
          </li>
          <li class="{{ page.archive }}{% if page.url == '/archive.html' %} current-page{% endif %}">
            <a href="/archive.html"><i class="icon-comments"></i><br />Archive</a>
          </li>
          <li class="{{ page.slides }}{% if page.url == '/slides.html' %} current-page{% endif %}">
            <a href="/slides.html"><i class="icon-camera"></i><br />Slides</a>
          </li>
          <li class="{{ page.contact }}{% if page.url == '/contact.html' %} current-page{% endif %}">
            <a href="/contact.html"><i class="icon-envelope-alt"></i><br />Contact</a>
          </li>
          <li class="divider-vertical"></li>
          <li class="{{ page.imprint }}{% if page.url == '/imprint.html' %} current-page{% endif %}">
            <a href="/imprint.html"><i class="icon-legal"></i><br />Imprint</a>
          </li>
          <li class="{{ page.code-of-conduct }}{% if page.url == '/code-of-conduct.html' %} current-page{% endif %}">
            <a href="/code-of-conduct.html"><i class="icon-legal"></i><br />Code of Conduct</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
