    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/index.html">Berlin PHP Usergroup</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="{{ page.home }}">
                <a href="/index.html">Startseite</a>
              </li>
              <li class="{{ page.archive }}">
                <a href="/archiv.html">Archiv</a>
              </li>
              <li class="{{ page.location }}">
                <a href="/location.html">Location</a>
              </li>
              <li class="{{ page.contact }}">
                <a href="/contact.html">Kontakt</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="{{ page.imprint }}">
                <a href="/imprint.html">Impressum</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
